body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

sup {
  vertical-align: top;
  position: relative;
  top: -0.15em;
}

.post-body, .post-title, .post-comments {
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.post-comments {
  margin-top: 10px;
}

.post-title div {
  font-family: 'Lato', serif;
  font-size: 2em;
  margin-top: 0.83em;
  margin-bottom: 5px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.post-title time {
  color: grey;
  font-size: 10pt;
}

a {
  color: #c00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-family: 'Lato', serif;
}

code, pre {
  font-family: 'Inconsolanta', monospace;
}

img.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hydrogen {
  background-color: white !important;
}

.hydrogen > table > tbody > tr > td:first-child {
  background-color: #F7F7F7;
  text-align: right;
  min-width: 3em;
}

.hydrogen > table > tbody > tr > td:last-child {
  background-color: white;
}

.hydrogen .ir-ref {
  color: #428bca;
}

.hydrogen .boldy {
  font-weight: bold;
}

.hydrogen .lir {
  background: rgba(125, 167, 217, 0.15) !important;
}

.hydrogen .src-range {
  margin-bottom: .2em;
  margin-top: .2em;
  display: inline-block;
}
.hydrogen .src-range-transparent { opacity: 0.3; }
.hydrogen .src-range-point { position: relative; }
.hydrogen .src-range-point::before {
  position: absolute;
  left: 0.0em;
  top: 0.8em;
  content: "^";
  font-weight: 900;
  color: gold;
}

.hydrogen td.loop-1 {
  border-left: 3px solid #C00;
}