@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;1,400&display=swap');
@import url('https://rsms.me/inter/inter.css');
@import url('https://rsms.me/inter/inter-display.css');

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
  font-size: 16px;
  letter-spacing: 0.01em;
}

h1, h2, h3, h4, h5 {
  font-family: 'InterDisplay', sans-serif;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 600;
}

code, pre {
  font-family: 'IBM Plex Mono', monospace;
  font-size: .9em;
}

small code, small pre {
  font-size: .9em;
}

body {
  padding: 0px;
  margin: 0px;
}

p {
  position: relative;
}

sup {
  vertical-align: top;
  position: relative;
  top: -0.15em;
}

.post-title {
  text-align: left;
  margin-bottom: 3em;
}

@media (max-width: 999px) {
  .post-body > * {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 1000px) {
  .post-body > * {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .post-body > span.mjx-chtml {
    width: 800px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .post-body figure, .post-body div.highlighter-rouge {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .post-body figure pre, .post-body div.highlighter-rouge pre {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
  }
}

h2, h3, h4, h5 {
  position: relative;
}

h2::after, h3::after, h4::after, h5::after {
  content: '---';
  position: absolute;
  bottom: -.5em;
  left: 0;
  height: 1em;
}

.post-comments {
  margin-top: 10px;
}

.post-title div {
  font-family: 'InterDisplay', sans-serif;
  font-size: 2.5rem;
  margin-top: 0.83em;
  margin-bottom: 5px;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-feature-settings: "liga" 0;
}

.post-title time {
  color: grey;
}

a {
  color: #c00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  pre, div.shaky-container {
    overflow: auto;
  }

  img {
    max-width: 70%;
    height: auto;
  }
}

img.centered, .post-body > p > img:only-child {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (min-width: 1000px) {
  img {
    max-width: 50em;
    height: auto;
  }
}


.hydrogen {
  background-color: white !important;
  overflow: auto;
}

.hydrogen > table > tbody > tr > td:first-child {
  background-color: #F7F7F7;
  text-align: right;
  min-width: 3em;
}

.hydrogen > table > tbody > tr > td:last-child {
  background-color: white;
}

.hydrogen .ir-ref {
  color: #428bca;
}

.hydrogen .boldy {
  font-weight: bold;
}

.hydrogen .lir {
  background: rgba(125, 167, 217, 0.15) !important;
}

.hydrogen .src-range {
  margin-bottom: .2em;
  margin-top: .2em;
  display: inline-block;
}
.hydrogen .src-range-transparent { opacity: 0.3; }
.hydrogen .src-range-point { position: relative; }
.hydrogen .src-range-point::before {
  position: absolute;
  left: 0.0em;
  top: 0.8em;
  content: "^";
  font-weight: 900;
  color: gold;
}

.hydrogen td.loop-1 {
  border-left: 3px solid #C00;
}

.sidenote-host { position: relative; }

.sidenote {
  color: gray;
}

@media (min-width: 1300px) {
  .sidenote {
    margin-right: -260px;
    position: absolute;
    right: 0;
    top: 0;
    width: 240px;
    text-align: left;
    line-height: 1.5em;
    font-size: .9rem;
  }
}

@media (max-width: 1300px) {
  .sidenote {
    display: block;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
    font-size: .8em;
    line-height: 1.5em;
    background-color: rgba(128,128,128,0.1);
    padding: .8em;
  }
}

p code {
  white-space: nowrap;
}

pre code {
  white-space: pre;
}

p, li {
  line-height: 24px;
  text-align: left;
}

li {
  list-style-type: square;
}

code.wrappable {
  line-break: anywhere;
  white-space: normal;
}

@media (max-width: 999px) {
  div.sidebyside2 {
    text-align: center;
  }
}

@media (min-width: 1000px) {
  div.sidebyside2 {
    display: flex;
  }

  div.sidebyside2 > img {
    flex: 50%;
    max-width: 50%;
  }
}