@import url(/fonts/gofont/gofont.css);

body {
  font-family: 'Go', 'Fira Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

sup {
  vertical-align: top;
  position: relative;
  top: -0.15em;
}

@media (min-width: 1000px) {
  body {
    font-size: 20px;
  }

  .post-body, .post-title, .post-comments {
    width: 50em;
    margin-left: auto;
    margin-right: auto;
  }
}

.post-comments {
  margin-top: 10px;
}

.post-title div {
  font-family: 'Lato', serif;
  font-size: 2em;
  margin-top: 0.83em;
  margin-bottom: 5px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.post-title time {
  color: grey;
  font-size: 10pt;
}

a {
  color: #c00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-family: 'Lato', 'Open Sans', serif;
}

code, pre {
  font-family: 'Fira Mono', monospace;
}

@media (max-width: 1000px) {
  pre, div.shaky-container {
    overflow: auto;
  }

  img {
    max-width: 70%;
    height: auto;
  }
}

img.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (min-width: 1000px) {
  img {
    max-width: 50em;
    height: auto;
  }
}


.hydrogen {
  background-color: white !important;
  overflow: auto;
}

.hydrogen > table > tbody > tr > td:first-child {
  background-color: #F7F7F7;
  text-align: right;
  min-width: 3em;
}

.hydrogen > table > tbody > tr > td:last-child {
  background-color: white;
}

.hydrogen .ir-ref {
  color: #428bca;
}

.hydrogen .boldy {
  font-weight: bold;
}

.hydrogen .lir {
  background: rgba(125, 167, 217, 0.15) !important;
}

.hydrogen .src-range {
  margin-bottom: .2em;
  margin-top: .2em;
  display: inline-block;
}
.hydrogen .src-range-transparent { opacity: 0.3; }
.hydrogen .src-range-point { position: relative; }
.hydrogen .src-range-point::before {
  position: absolute;
  left: 0.0em;
  top: 0.8em;
  content: "^";
  font-weight: 900;
  color: gold;
}

.hydrogen td.loop-1 {
  border-left: 3px solid #C00;
}

.sidenote-host { position: relative; }

@media (min-width: 1300px) {
  .sidenote {
    margin-right: -260px;
    position: absolute;
    right: 0;
    top: auto; /* default */
    width: 240px;
    color: gray;
  }
}

@media (max-width: 1300px) {
  .sidenote {
    color: gray;
    display: block;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
  }
}

code {
  white-space: nowrap;
}

pre code {
  white-space: pre;
}
