table {
  border-spacing: 0px;
}

td {
  padding: 5px;
  border-collapse: collapse;
}

td:first-child {
  border-right: 2px dashed grey;
}

tr:first-child td {
  border-bottom: 2px dashed grey;
}

pre.hydrogen td:first-child {
  border-right: 0px !important;
}

pre.hydrogen tr:first-child td {
  border-bottom: 0px !important;
}