node_modules
_site/
.DS_Store
irhydra/2/index.html_bootstrap.dart.js.map
irhydra/2/index.html_bootstrap.dart.precompiled.js
irhydra/2/demos/dart/demo.dart
irhydra/2/demos/dart/demo.dart.js
irhydra/2/demos/dart/demo.dart.js.map
irhydra/2/demos/dart/demo.dart.precompiled.js
irhydra/2/index.html.0.dart
irhydra/2/index.html.scriptUrls
irhydra/2.bak/demos/dart/demo.dart.js
www.sublime-project
www.sublime-workspace
talks/muc2017
talks/vipunen
*.kra

# Files and directories created by pub.
**/doc/api/
.dart_tool/
.packages

# Conventional directory for build output.
/build/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/
