---
regenerate: true
---

@import "tailwindcss";

@theme {
  --font-sans: "equity-text", "Garamond", serif;
  --color-tb: #111111;
  --color-tbg: #6a737d;
  --color-tw: #fffff8;
  --color-lk: #a33;
  --font-mono: "Google Sans Code";
  --breakpoint-xl: 85rem;
}

a {
  text-decoration: underline;
}

a:hover {
  color: var(--color-lk);
}

p {
  @apply mb-4;
}

p.warn {
  @apply p-2;
  border: 1px solid #ffb989;
  border-left-width: 3px;
  background-color: #fff5ee;
}

p.comments {
  @apply p-2;
  border: 1px solid #f6d391;
  border-left-width: 3px;
  background-color: #fdf5e6;
}

p.comments > :first-child {
  font-family: 'equity-caps';
  text-transform: lowercase;
  font-weight: bold;
  @apply mb-2;
}

.title {
  @apply font-bold text-3xl;
  @apply xl:absolute xl:left-[-260px] xl:max-w-[240px] xl:w-[240px] xl:text-right;
  @apply max-xl:mb-6;
}

sidenote {
  @apply text-base text-tbg;
  @apply xl:inline-block xl:absolute xl:left-[-260px] xl:max-w-[240px] xl:text-right;
  @apply max-xl:block max-xl:border-1 max-xl:border-l-3 max-xl:p-2 max-xl:mb-4;
}

code {
  font-size: .8em;
  @apply max-md:overflow-auto;
}

pre {
  @apply max-md:overflow-auto;
}

.equity-caps {
  font-family: 'equity-caps';
  text-transform: lowercase;
}

.blogpost > h1, .blogpost > h2, .blogpost > h3, .blogpost > h4, .blogpost > h5 {
  font-family: 'equity-caps';
  text-transform: lowercase;
  font-weight: bold;
  @apply mb-2;
}

sidenote code {
  white-space: normal;
}

time {
  font-family: 'equity-caps';
  white-space: pre;
  line-break: strict;
}

ol {
  counter-reset: foobar;
  position: relative;
}

ol li {
  margin-left: 2.5rem;
  list-style: none;
  position: relative;
  @apply mb-4;
}

ol li:before {
  counter-increment: foobar;
  content: counter(foobar);
  font-family: "concourse-index";
  font-size: 1.10rem;
  position: absolute;
  margin-left: -2.0rem;
  top: .2rem;
}

/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

/* assaaa */