---
layout: main
---

{% assign allItems = site.posts | concat: site.talks | sort: "date" | reverse %}
{% assign postsByYear = allItems | group_by_exp:"post", "post.date | date: '%Y'" %}

{% for item in allItems %}
  <div>{{item.path}} - {{item.date}} - {{ item.date | date: '%Y'}} - {{item.layout}}</div>
{% endfor %}

{% for year in postsByYear %}
<h1 class="border-t-3 equity-caps font-bold text-2xl my-6">{{ year.name }}</h1>
<div class="lg:grid lg:grid-cols-3 lg:gap-3">
  {% for post in year.items %}
    {% include post_ref.html post=post %}
  {% endfor %}
</div>
{% endfor %}

