@font-face {
  font-family: 'Phenomena';
  src: url('Phenomena-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Phenomena';
  src: url('Phenomena-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Phenomena';
  src: url('Phenomena-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Phenomena';
  src: url('Phenomena-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Phenomena';
  src: url('Phenomena-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Phenomena';
  src: url('Phenomena-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Phenomena';
  src: url('Phenomena-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
