<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <link href="/atom.xml" rel="alternate" title="atom feed" type="application/atom+xml">

  {% for font in page.webfonts %}
    <link href='http://fonts.googleapis.com/css?family={{ font }}' rel='stylesheet' type='text/css'>
  {% endfor %}

  {% for stylesheet in page.stylesheets %}
    <link href='{{ stylesheet }}' rel='stylesheet' type='text/css'>
  {% endfor %}

  <link rel="stylesheet" href="/css/blog.css" type="text/css">
  <link rel="stylesheet" href="/css/pygments.css" type="text/css">

  <title> {{ page.title }} </title>
</head>
<body>

  <div class="post-body">
    <div class="post-title">
      <div> {{ page.title }} </div>
      <!-- <time datetime="{{ page.date }}">{{ page.date | date:'%d %b %Y' | downcase }}</time> -->
    </div>
    {{ content }}

    <p style="background: #f9f9f9; padding: 10px;">My blog no longer has
    comments section. If you want to discuss
    contents of this post you can send me an email at <code>me@mrale.ph</code>
    or find me on <a href="https://mastodon.social/@mraleph">Mastodon</a> or
    <a href="https://x.com/mraleph">X</a>.
    </p>
  </div>
</body>
</html>
