<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/blog.css" type="text/css">
  <link rel="stylesheet" href="/css/pygments.css" type="text/css">
</head>
<body>
  <div class="post-title">
    <div> {{ page.title }} </div>
    <time datetime="{{ page.date }}">{{ page.date | date:'%d %b %Y' | downcase }}</time>
  </div>

  <div class="post-body">
    {{ content }}
  </div>

  <div class="post-comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'mraleph-gh';

        (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</body>
</html>